
body {
  background: url("../images/mountain-5431950_1920.png") no-repeat 50% 25%;
}

header {
  width: 1190px;
  height: 70px;
  margin: 0 auto;
}

.header-container {
  height: 70px;
  overflow: hidden;
}
.header-container h1 {
  float: left;
  height: 100%;
  width: 320px;
  background: url("../images/logo-qianjz.png") no-repeat left bottom;
}
.header-container ul {
  float: right;
  overflow: hidden;
  font: 18px "Deuglas-6Ynq6";
}
.header-container ul li {
  float: left;
  height: 70px;
}

.header-container ul li:not(:last-child) {
  padding-right: 46px;
}

.header-container ul li a {
  display: block;
  padding: 25px 0 4px;
}

.header-container ul a:hover {
  color: #161823;
  border-bottom: 2px solid #161823;
}
.word-container {
  padding-top: 20vh;
  padding-left: 7%;
  font: 68px "MachowDemo-6Yjoq";
  font-weight: 500px;
  color: #3d3b4f;
}
.contact-container {
  position: absolute;
  width: 1190px;
  left: 50%;
  bottom: 45px;
  font-size: 0;
  margin-left: -595px;
}

.contact-container .left-line, .contact-container .right-line {
  display: inline-block;
  width: 490px;
  height: 2px;
  background: #75878a;
}

.contact-container .contact-ways {
  display: inline-block;
  width: 210px;
}

.contact-container .contact-ways a {
  font: 24px "iconfont";
  padding: 0 23px;
}

.contact-container .contact-ways a:hover {
  color: #75878a;
}