body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: url(../image/back.jpg) no-repeat left bottom/cover;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
#workWord {
  margin-right: 5vw;
  margin-bottom: 5vh;
  font-size: 18px;
  color: white;
}
#workWord span {
  text-decoration: underline;
}
#workCount {
  font-size: 36px;
}

/* 隐藏区域 */

.poetry {
  box-sizing: border-box;
  position: absolute;
  left: 5vw;
  bottom: 25vh;
  height: 70vh;
  padding-bottom: 2vh;
  width: 30vw;
  background-color: rgba(246, 246, 246, 0.4);
  opacity: 0;
  overflow: auto;

  transition: opacity 2s;
}

.poetry::-webkit-scrollbar {
  width: 10px;
}

.poetry::-webkit-scrollbar-thumb {
  background: #dbe2ef;
}

.poetry::-webkit-scrollbar-track {
  background: #f9f7f7;
}

.poetry:hover {
  opacity: 1;
}

.poetry .item {
  padding: 3vh;
  padding-bottom: 0;
  color: #3f72af;
}